body {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 100px;
}
.section-content {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

#fp-nav span, .fp-slidesNav span {
  border-color: #35bd48;
  background-color: #35bd48;
}
#fp-nav li .active span {
  background: #000;
}

.ico-down {
  display: none;
}

#intro .ico-down a {
  margin-top: 1em;
}
#intro {
  padding: 50px 0;
}